<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>
  <link rel="stylesheet" href="../css/index.css" />
  <body>
    <%- include("../../partials/nav.ejs") %>

    <form
      method="post"
      action="/forget-password"
      class="m-auto mt-5"
      style="width: 300px"
    >
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="text" name="email" class="<%= validationErrors.find(err =>
        err.param === "email") ? "form-control invlaid-input" : "form-control"
        %> " id="exampleInputPassword1" value="<%= oldData.email %> " />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <% if (errorMessage) { %>
      <div style="color: red; font-weight: bold"><%= errorMessage %></div>
      <% } %>
      <div class="text-center">
        <button type="submit " class="btn btn-primary">Reset</button>
      </div>
    </form>
  </body>
</html>
