<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>
  <link rel="stylesheet" href="../css/index.css" />
  <body>
    <%- include("../../partials/nav.ejs") %>

    <form
      method="post"
      action="/login"
      class="m-auto mt-5"
      style="width: 300px"
    >
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input
          type="text"
          name="email"
          class="form-control"
          id="exampleInputPassword1"
          value="<%= oldData.email %>"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">password</label>
        <input type="text" name="password" class="form-control" value="<%=
        oldData.password %>" id="exampleInputPassword1" " >
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <% if (errorMessage) { %>
      <div style="color: red; font-weight: bold"><%= errorMessage %></div>
      <% } %>
      <div class="text-center">
        <button type="submit " class="btn btn-primary">Login</button>
      </div>
      <div style="margin-top: 20px">
        <a href="/forget-password">Forget Password</a>
      </div>
    </form>
  </body>
</html>
