<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>
  <link rel="stylesheet" href="../css/index.css" />
  <body>
    <%- include("../../partials/nav.ejs") %>
    <!DOCTYPE html>
<html lang="en">
  <head>
  <%- include("../../partials/head.ejs") %>
  <body>
    <form method="post" action="/register"  class="m-auto mt-5" style="width: 300px ; ">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">UserName </label>
        <input 
        type="text" 
        class="<%= validationErrors.find(err => err.param === "userName") ? "form-control invlaid-input" : "form-control" %> "
         name="userName" 
         value="<%= oldData.userName %>">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="text" name="email" 
        class="<%= validationErrors.find(err => err.param === "email") ? "form-control invlaid-input" : "form-control" %> "
        id="exampleInputPassword1"  value="<%= oldData.email %>" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">password</label>
        <input type="text" name="password" 
        class="<%= validationErrors.find(err => err.param === "password") ? "form-control invlaid-input" : "form-control" %> "
        id="exampleInputPassword1" value="<%= oldData.password %>" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">confirmPassword</label>
        <input type="text" name="confirmPassword" 
        class="<%= validationErrors.find(err => err.param === "confirmPassword") ? "form-control invlaid-input" : "form-control" %> "
        id="exampleInputPassword1" value="<%= oldData.confirmPassword %>" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">mobileNumber</label>
        <input type="text" name="mobileNumber" 
        class="<%= validationErrors.find(err => err.param === "mobileNumber") ? "form-control invlaid-input" : "form-control" %> "
        id="exampleInputPassword1" value="<%= oldData.mobileNumber %>" >
      </div>
      <% if (errorMessage) { %>
        <div style="color: red; font-weight: bold"><%= errorMessage %></div>
        <% } %>
      <div class="text-center">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <button type="submit " class="btn btn-primary">Register</button>

      </div>

    </form>
  </body>
</html>
  </body>
</html>
